body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100vh;
    width: 100%;
    margin:0;
    background: linear-gradient(215deg,#fff 0%,#00818a 50%);
}
span{
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 10rem;

}
.table{
    border-collapse: collapse;
    margin: 5rem 0;
    font-size: 1.5em;
    min-width:200px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.input-field{
    margin: 1.5rem auto;
    width: 300px;
    height: 2em;
    font-family: 'Merienda', cursive;
    font-size: 1em;
}
.submit-button{
    padding: 1em 3em;
}
.table th{
    background-color: #008979;
    text-align: left;
    text-shadow: 0 0 1px #000;
    font-weight: bold;
}
.table td, .table th{
    padding: 12px 15px; 
}
.table td{
    border-right: 2px solid rgba(230, 230, 230, 0.5);
    text-align: center;
}
td.last{
    border-right: none;
}

/* .Table{
    display: flex;
    margin: 5rem 0;
}
.TABLE_DATA,.TABLE_HEAD{
    padding: 0;
} */

